ignore-workspace-root-check=true
prefer-symlinked-executables=true
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*@codemirror/*
public-hoist-pattern[]=*@lezer/lr
public-hoist-pattern[]=*@nextui-org/*
