ignore-workspace-root-check=true
prefer-symlinked-executables=true
hoist=false
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*@codemirror/*
public-hoist-pattern[]=*@cspell/*
public-hoist-pattern[]=*@lezer/lr
public-hoist-pattern[]=*@nextui-org/*
