.blocked-tags__editor {
  :global(.cm-editor) {
    height: 100%;

    > :global(.cm-scroller) {
      flex-grow: 1;
      font-family: source-code-pro, 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
  }
}
