.channel.channel--box-card .channel-follow-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 8px;
  z-index: 1;

  .follow-button__container,
  .follow-btn {
    &,
    > button {
      width: 100%;
    }
  }
}
